.websiteName{
    font-size: 2em;
    font-weight: bolder;
    text-decoration: none;
    color: var(--orange); 
}
.icons {
    color:var(--orange) ;
}
.nav-item .nav-link .badge {
    position: relative;
    top: -15px; 
    right: 0;
    padding: 5px;
    padding-bottom: 3px;
    border-radius: 50%;
    text-align: center;
    background-color: var(--orange); 
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    z-index: 2; 
  }
  
  .nav-item .nav-link:hover .badge {
    opacity: 0.8; 
  }
  
  

  