@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Space+Grotesk:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
   font-family: 'Space Grotesk', sans-serif;
}
:root{
    --orange:#f96d00;
    --black:#222831;
    --dark-grey:#393e46;
    --light-grey:#f2f2f2;
}
.light-mode {
    background-color: white;
    color: #343a40;
  }
  
  .dark-mode {
    background-color: #212529;
    color: #fff;
  }
  